<main class="main">
    <a class="add-btn" routerLink="/add-intern" routerLinkActive="active">Add</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr app-intern-item *ngFor="let intern of interns" [intern]="intern" (newItemEvent)="openAddInternPopUp(intern)"></tr>
        </tbody>
    </table>
</main>
<app-popup *ngIf="showPopup" [class]="showPopup ? 'showPopup' : 'hidePopup'" (newItemEvent)="closeAddInternPopUp()" [editableIntern]="editableIntern"></app-popup>

<!-- | searchIntern: search -->