<main class="main">
    <button class="add-btn" (click)="showPopup = !showPopup">Add</button>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr app-intern-item *ngFor="let intern of interns" [intern]="intern"></tr>
        </tbody>
    </table>
</main>
<app-popup *ngIf="showPopup" [class]="showPopup ? 'showPopup' : 'hidePopup'" (newItemEvent)="closeAddInternPopUp()"></app-popup>